# macOS Systemdateien
.DS_Store

# Xcode-Projektdateien
*.xcuserstate
*.xcscmblueprint
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Build-Ordner
build/
DerivedData/

# Google Config
GoogleService-Info.plist
