<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279052269983-lnbu0cki4l7ov23148s3f9b7k5n399mu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279052269983-lnbu0cki4l7ov23148s3f9b7k5n399mu</string>
	<key>API_KEY</key>
	<string>AIzaSyDyjVOSgVrh9aZP_MPImFoCgr9t1gTw2_w</string>
	<key>GCM_SENDER_ID</key>
	<string>279052269983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.steffen.schinke.Flashmob-Tracker</string>
	<key>PROJECT_ID</key>
	<string>flashmob-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>flashmob-tracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279052269983:ios:4278a46c8f8ae4aa46a5aa</string>
</dict>
</plist>